body {
  background-color: #55adaf;
}

  header {
    text-align: center;
  }
  h1 {
    background-color: #1e212b ;
    display: block;
    margin: 0 auto;
    font-size: 45px;
    color: white;
    text-align: center;
    width: 450px;
    box-shadow:  #1e212b;
  }
  img {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 200px;
  }
  p {
    text-align: center;
  }
  figcaption {
    text-align: center;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h2 {
    text-align: center;
    background-color:  cajas;
    display: block;
    margin: 0 auto;
    width: 300px;
    font-size: 30px;
    color: white;
  }

  details {
    text-align: center;
  }

.slide-in-left {
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
